.bg-video h2 {
  position: absolute;
  top: -61%;
  font-weight: bold;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.7);
  opacity: 0.8;
  text-shadow: 1px 1px #000;
  text-align: center;
  width: 100%;
}

#social {
  position: absolute;
  top: -17%;
  z-index: 10000;
  height: 0px;
  width: 100%;
}

#social ul {
  width: 38%;
  margin: 0px auto;
}

#social ul li {
  width: 11%;
  display: inline-block;
  margin: 0px 2.5%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

#social ul li:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#social ul img {
  width: 100%;
  display: block;
  opacity: 0.7;
}

#social ul img:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  #social ul {
    width: 70%;
  }

  #social {
    top: -31%;
  }
}
@media (max-width: 959px) {
  #social {
    top: -50%;
  }

  #social ul {
    width: 61%;
    margin: 0px auto;
  }

  #social ul li {
    width: 10%;
    display: inline-block;
    margin: 0px 2.5%;
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }

  .bg-video h2 {
    position: absolute;
    top: -100%;
  }
}
.copyright-wrapper {
  position: absolute;
  z-index: 100000;
  bottom: 0px;
  height: 40px;
  border-top: none;
  background-color: rgba(64, 64, 64, 0.5) !important;
  width: 100%;
}

.copyright-left {
  color: #fff;
  float: right;
  bottom: 15px;
  position: relative;
}

.copyright-right {
  float: left !important;
}

.copyright-right a {
  color: #fff;
  bottom: 15px;
  position: relative;
}

.copyright-right a:hover {
  color: #ffea0a;
}

@media (max-width: 959px) {
  .copyright-wrapper {
    font-size: 80%;
  }

  .copyright-wrapper div {
    float: none;
    position: relative;
    text-align: center;
    display: table;
  }

  .copyright-wrapper div a {
    display: table-cell;
    text-align: center;
    padding: 0px 5px 5px;
  }
}
@media (max-width: 767px) {
  .copyright-left {
    color: #fff;
    float: right;
    bottom: 15px;
    position: relative;
  }

  .copyright-right {
    float: left;
  }
}
@media (max-width: 767px) {
  .copyright-left {
    bottom: 20px;
  }

  .copyright-right {
    bottom: 8px;
  }
}
@media (max-width: 420px) {
  .copyright-wrapper {
    font-size: 65%;
    height: 30px;
  }

  .copyright-container {
    max-width: none;
  }

  .copyright-left {
    bottom: 24px;
  }

  .copyright-right {
    bottom: 20px;
  }
}
