.hero-wrap {
    margin: 0px;
    width: 100%;
    padding-bottom: 12%;
    display: table;
    width: 100%;
    position: relative;
    background: #000;
}

.hero {
    color: #fff;
    max-width: 100%;
    position: relative;
    font-weight: 400;
    width: auto;
    height: 0;
    padding-bottom: 12.5%;
    
}

.bg-video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}

.hero-tagline {
    position: absolute;
    z-index: 99;
    text-align: right;
    color: #fff;
    top: 80%;
    right: 2%;
    width: 26%;
    font-size: 1.5vw;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    line-height: 120%;
}





.bg-video video {
    height: 100%;
}

#logo-bar {
    position: absolute;
    bottom: 10%;
    padding-left: 5%;
    height: 38%;
    z-index: 10000;
}

#logo-bar img {
    height: 100%;
}

@media(min-width:768px) and (max-width:1024px) {

    #logo-bar {

        height: 50%;
    }
    .hero-tagline {
        font-size: 1.5em;
    }
}

@media(max-width:959px) {


    #logo-bar {
        padding-left: 2%;
        height: 70%;
    }
    .hero-tagline {

        left: auto;
        right: 5%;
        text-align: right;
        width: 45%;
        font-size: 2.5vw;
        bottom: -61.8%;
    }
}

.branding-container{
    display: none;
}

.sf-menu .gdlr-normal-menu ul{
    top: 88% !important;

}
#steam-logo{
    position: absolute;
    z-index: 200;
    height: 50px;
    left: 20px;
    top: -16px;
    img{
        height:100%;
        width: auto;
    }
    @media(max-width:959px){
  
        position: absolute;
        z-index: 200;
        
        left: auto;
        right: 90px;
        top: 5px;

        
    }
    @media(max-width:480px){
   
         top: 0px;
        height: 30px;
        right:65px;
   
    }
}






